# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=delivery_partner_db
DB_USER=postgres
DB_PASSWORD = post1234

# JWT Configuration
JWT_ACCESS_SECRET=abde31d79e7a854f7099645af793f44736
JWT_REFRESH_SECRET=4b0cf641418160c26a9227fccf968e343e
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# Admin API Key (for testing endpoints)
ADMIN_API_KEY=test_admin_key_change_in_production
